## Análise de Dados Demográficos

In [54]:
import pandas as pd
import numpy as np

### Lendo o caminho

In [55]:
df = pd.read_csv("C:\\Users\\daiih\OneDrive\\Área de Trabalho\\Ambiente\\projeto_python\\adult.csv")

### Colocando as palavras da base em letra minúscula

In [56]:
df = df.applymap(lambda x: x.lower() if isinstance(x, str) else x)

C:\Users\daiih\AppData\Local\Temp\ipykernel_10548\2340421553.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.lower() if isinstance(x, str) else x)

In [57]:
df.head(15)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,hs-grad,9,widowed,?,not-in-family,white,female,0,4356,40,united-states,<=50k
1,82,private,132870,hs-grad,9,widowed,exec-managerial,not-in-family,white,female,0,4356,18,united-states,<=50k
2,66,?,186061,some-college,10,widowed,?,unmarried,black,female,0,4356,40,united-states,<=50k
3,54,private,140359,7th-8th,4,divorced,machine-op-inspct,unmarried,white,female,0,3900,40,united-states,<=50k
4,41,private,264663,some-college,10,separated,prof-specialty,own-child,white,female,0,3900,40,united-states,<=50k
5,34,private,216864,hs-grad,9,divorced,other-service,unmarried,white,female,0,3770,45,united-states,<=50k
6,38,private,150601,10th,6,separated,adm-clerical,unmarried,white,male,0,3770,40,united-states,<=50k
7,74,state-gov,88638,doctorate,16,never-married,prof-specialty,other-relative,white,female,0,3683,20,united-states,>50k
8,68,federal-gov,422013,hs-grad,9,divorced,prof-specialty,not-in-family,white,female,0,3683,40,united-states,<=50k
9,41,private,70037,some-college,10,never-married,craft-repair,unmarried,white,male,0,3004,60,?,>50k
10,45,private,172274,doctorate,16,divorced,prof-specialty,unmarried,black,female,0,3004,35,united-states,>50k
11,38,self-emp-not-inc,164526,prof-school,15,never-married,prof-specialty,not-in-family,white,male,0,2824,45,united-states,>50k
12,52,private,129177,bachelors,13,widowed,other-service,not-in-family,white,female,0,2824,20,united-states,>50k
13,32,private,136204,masters,14,separated,exec-managerial,not-in-family,white,male,0,2824,55,united-states,>50k
14,51,?,172175,doctorate,16,never-married,?,not-in-family,white,male,0,2824,40,united-states,>50k

In [58]:
df['native.country'].unique()

array(['united-states', '?', 'mexico', 'greece', 'vietnam', 'china',
       'taiwan', 'india', 'philippines', 'trinadad&tobago', 'canada',
       'south', 'holand-netherlands', 'puerto-rico', 'poland', 'iran',
       'england', 'germany', 'italy', 'japan', 'hong', 'honduras', 'cuba',
       'ireland', 'cambodia', 'peru', 'nicaragua', 'dominican-republic',
       'haiti', 'el-salvador', 'hungary', 'columbia', 'guatemala',
       'jamaica', 'ecuador', 'france', 'yugoslavia', 'scotland',
       'portugal', 'laos', 'thailand', 'outlying-us(guam-usvi-etc)'],
      dtype=object)

## Porcentagem de divorciados nos EUA

In [59]:
df_divorced = df[df['marital.status']== "divorced"]

In [60]:
df_divorced.shape

(4443, 15)

In [61]:
df_divorced_eua = df_divorced[df_divorced['native.country']=="united-states"]

In [62]:
df_divorced_eua.shape

(4162, 15)

In [63]:
geral = 4443

In [64]:
total_eua = 4162

In [65]:
round(total_eua / geral * 100)

94

## Relação de brancos e negros divorciados.

In [66]:
df_divorce_race = df_divorced['race']

In [67]:
df_divorce_race.value_counts()

race
white                 3797
black                  485
asian-pac-islander      75
amer-indian-eskimo      60
other                   26
Name: count, dtype: int64

## Quantas mulheres estão divorciadas?

In [68]:
df_divorced_sex = df_divorced['sex']

In [69]:
df_divorced_sex.value_counts()

sex
female    2672
male      1771
Name: count, dtype: int64

In [70]:
total = 4443
female = 2672
male = 1771

In [71]:
round(female / total * 100)

60

In [72]:
round(male / total * 100)

40

## Qual país com maior porcentagem de mulheres divorciadas?

In [73]:
df_divorced_female = df_divorced[df_divorced['sex']=="female"]

In [74]:
df_divorced_female_country = df_divorced_female['native.country'].value_counts()

In [75]:
total_divorced_female = 2672

In [76]:
df_divorced_female_country

native.country
united-states                 2493
?                               28
germany                         20
england                         13
cuba                            12
mexico                          11
canada                          11
philippines                      9
puerto-rico                      8
south                            6
dominican-republic               6
japan                            6
columbia                         4
france                           4
poland                           3
jamaica                          3
el-salvador                      3
vietnam                          3
italy                            3
outlying-us(guam-usvi-etc)       2
trinadad&tobago                  2
haiti                            2
china                            2
iran                             2
guatemala                        2
ecuador                          2
peru                             2
ireland                          2
honduras                         2
thailand                         1
hungary                          1
portugal                         1
scotland                         1
yugoslavia                       1
taiwan                           1
Name: count, dtype: int64

In [77]:
round(df_divorced_female_country / total_divorced_female * 100)

native.country
united-states                 93.0
?                              1.0
germany                        1.0
england                        0.0
cuba                           0.0
mexico                         0.0
canada                         0.0
philippines                    0.0
puerto-rico                    0.0
south                          0.0
dominican-republic             0.0
japan                          0.0
columbia                       0.0
france                         0.0
poland                         0.0
jamaica                        0.0
el-salvador                    0.0
vietnam                        0.0
italy                          0.0
outlying-us(guam-usvi-etc)     0.0
trinadad&tobago                0.0
haiti                          0.0
china                          0.0
iran                           0.0
guatemala                      0.0
ecuador                        0.0
peru                           0.0
ireland                        0.0
honduras                       0.0
thailand                       0.0
hungary                        0.0
portugal                       0.0
scotland                       0.0
yugoslavia                     0.0
taiwan                         0.0
Name: count, dtype: float64

## Qual a média de idade dos divorciados? (Estatística Descritiva)

In [78]:
df_divorced['age'].describe()

count    4443.000000
mean       43.041639
std        10.400396
min        18.000000
25%        35.000000
50%        42.000000
75%        50.000000
max        90.000000
Name: age, dtype: float64

## Quantidade de divorciados por cada classe de trabalho ?

In [79]:
df_divorced_education = df_divorced['education']

In [80]:
df_divorced_education_total = 4443

In [81]:
df_divorced_education.value_counts()

education
hs-grad         1613
some-college    1069
bachelors        546
assoc-voc        234
masters          233
assoc-acdm       203
11th             130
10th             120
7th-8th           73
9th               64
prof-school       55
12th              39
doctorate         33
5th-6th           20
1st-4th           10
preschool          1
Name: count, dtype: int64

## Quantidade de pessoas que nunca casaram por raça ?

In [82]:
df_never_married = df[df['marital.status']=='never-married']

In [83]:
df_never_married_race = df_never_married['race'].value_counts()

In [84]:
df_never_married_race

race
white                 8757
black                 1346
asian-pac-islander     372
other                  105
amer-indian-eskimo     103
Name: count, dtype: int64

## Quantidade de mulheres e homens negros que nunca casaram

In [85]:
df_never_married_black = df_never_married[df_never_married['race']=='black']

In [86]:
df_never_married_black_sex = df_never_married_black['sex'].value_counts()

In [87]:
df_never_married_black_sex

sex
female    723
male      623
Name: count, dtype: int64

## Existem mais mulheres ou homens viuvos ?

In [88]:
df_widowed = df[df['marital.status']=='widowed']

In [89]:
df_widowed['sex'].value_counts()

sex
female    825
male      168
Name: count, dtype: int64

## Qual a quantidade de viúvos nos EUA ?

In [90]:
df_widowed_eua = df_widowed['native.country'].value_counts()

In [91]:
df_widowed_eua

native.country
united-states                 902
?                              14
mexico                          9
germany                         6
england                         4
philippines                     4
south                           4
poland                          4
el-salvador                     4
puerto-rico                     4
italy                           4
cuba                            4
canada                          3
columbia                        3
india                           2
nicaragua                       2
hungary                         2
iran                            2
portugal                        2
guatemala                       2
thailand                        2
haiti                           2
japan                           1
jamaica                         1
greece                          1
china                           1
ecuador                         1
dominican-republic              1
france                          1
outlying-us(guam-usvi-etc)      1
Name: count, dtype: int64

## Quantidade de viúvos agregados por educação?

In [92]:
df_widowed['education']

0             hs-grad
1             hs-grad
2        some-college
12          bachelors
31               10th
             ...
32437            11th
32456         hs-grad
32469         hs-grad
32473         hs-grad
32559         hs-grad
Name: education, Length: 993, dtype: object

In [93]:
df.groupby('marital.status').agg({'education':'value_counts'}).tail(60)

                                    education
marital.status        education
married-spouse-absent 11th                 19
                      masters              17
                      10th                 15
                      7th-8th              14
                      assoc-voc            13
                      1st-4th              12
                      assoc-acdm           12
                      9th                   9
                      12th                  8
                      doctorate             7
                      preschool             4
                      prof-school           3
never-married         hs-grad            3089
                      some-college       2933
                      bachelors          1795
                      11th                586
                      masters             404
                      assoc-voc           362
                      10th                361
                      assoc-acdm          337
                      12th                232
                      9th                 155
                      7th-8th             113
                      prof-school          93
                      5th-6th              89
                      doctorate            73
                      1st-4th              39
                      preschool            22
separated             hs-grad             406
                      some-college        220
                      bachelors            92
                      10th                 49
                      11th                 48
                      assoc-voc            42
                      9th                  33
                      assoc-acdm           30
                      masters              25
                      7th-8th              23
                      5th-6th              18
                      12th                 14
                      1st-4th               9
                      prof-school           8
                      doctorate             7
                      preschool             1
widowed               hs-grad             414
                      some-college        172
                      bachelors            82
                      7th-8th              64
                      assoc-voc            41
                      masters              41
                      10th                 39
                      11th                 38
                      9th                  23
                      assoc-acdm           23
                      1st-4th              17
                      5th-6th              14
                      12th                 10
                      doctorate             7
                      prof-school           5
                      preschool             3

## Como a educação varia entre diferentes grupos étnicos (raça)?

In [94]:
df.groupby('race').agg({'education':'value_counts'}).head(60)

                                 education
race               education
amer-indian-eskimo hs-grad             119
                   some-college         79
                   bachelors            21
                   assoc-voc            19
                   10th                 16
                   11th                 14
                   7th-8th               9
                   assoc-acdm            8
                   9th                   5
                   12th                  5
                   masters               5
                   1st-4th               4
                   doctorate             3
                   prof-school           2
                   5th-6th               2
asian-pac-islander bachelors           289
                   hs-grad             226
                   some-college        208
                   masters              88
                   prof-school          41
                   assoc-voc            38
                   assoc-acdm           29
                   doctorate            28
                   11th                 21
                   5th-6th              18
                   10th                 13
                   7th-8th              11
                   12th                  9
                   9th                   9
                   preschool             6
                   1st-4th               5
black              hs-grad            1174
                   some-college        746
                   bachelors           330
                   11th                153
                   10th                133
                   assoc-voc           112
                   assoc-acdm          107
                   9th                  89
                   masters              86
                   12th                 70
                   7th-8th              56
                   5th-6th              21
                   1st-4th              16
                   prof-school          15
                   doctorate            11
                   preschool             5
other              hs-grad              78
                   some-college         51
                   bachelors            33
                   7th-8th              17
                   12th                 14
                   5th-6th              13
                   11th                 10
                   10th                  9
                   1st-4th               9
                   assoc-acdm            8
                   9th                   8
                   masters               7
                   assoc-voc             6

## Qual é a idade média das pessoas em diferentes grupos étnicos (raça)?

In [95]:
df.groupby('race')['age'].mean()

race
amer-indian-eskimo    37.173633
asian-pac-islander    37.746872
black                 37.767926
other                 33.457565
white                 38.769881
Name: age, dtype: float64

## Qual é a distribuição de níveis de educação para diferentes grupos de gênero?

In [96]:
df.groupby('sex')['education'].value_counts()

sex     education
female  hs-grad         3390
        some-college    2806
        bachelors       1619
        masters          536
        assoc-voc        500
        11th             432
        assoc-acdm       421
        10th             295
        7th-8th          160
        9th              144
        12th             144
        prof-school       92
        doctorate         86
        5th-6th           84
        1st-4th           46
        preschool         16
male    hs-grad         7111
        some-college    4485
        bachelors       3736
        masters         1187
        assoc-voc        882
        11th             743
        assoc-acdm       646
        10th             638
        7th-8th          486
        prof-school      484
        9th              370
        doctorate        327
        12th             289
        5th-6th          249
        1st-4th          122
        preschool         35
Name: count, dtype: int64

## As mulheres ganham mais de 50k ou menos de 50k ?

In [97]:
df_female = df[df['sex']=='female']

In [98]:
df_female['income'].value_counts()

income
<=50k    9592
>50k     1179
Name: count, dtype: int64

## Os homens ganham mais de 50k ou menos de 50k ?

In [99]:
df_male = df[df['sex']=='male']

In [100]:
df_male['income'].value_counts()

income
<=50k    15128
>50k      6662
Name: count, dtype: int64

df.groupby('native.country').agg({'income':'mean'})

In [101]:
df.groupby('native.country').agg({'income':'value_counts'}).head(60)

                                   income
native.country             income
?                          <=50k      437
                           >50k       146
cambodia                   <=50k       12
                           >50k         7
canada                     <=50k       82
                           >50k        39
china                      <=50k       55
                           >50k        20
columbia                   <=50k       57
                           >50k         2
cuba                       <=50k       70
                           >50k        25
dominican-republic         <=50k       68
                           >50k         2
ecuador                    <=50k       24
                           >50k         4
el-salvador                <=50k       97
                           >50k         9
england                    <=50k       60
                           >50k        30
france                     <=50k       17
                           >50k        12
germany                    <=50k       93
                           >50k        44
greece                     <=50k       21
                           >50k         8
guatemala                  <=50k       61
                           >50k         3
haiti                      <=50k       40
                           >50k         4
holand-netherlands         <=50k        1
honduras                   <=50k       12
                           >50k         1
hong                       <=50k       14
                           >50k         6
hungary                    <=50k       10
                           >50k         3
india                      <=50k       60
                           >50k        40
iran                       <=50k       25
                           >50k        18
ireland                    <=50k       19
                           >50k         5
italy                      <=50k       48
                           >50k        25
jamaica                    <=50k       71
                           >50k        10
japan                      <=50k       38
                           >50k        24
laos                       <=50k       16
                           >50k         2
mexico                     <=50k      610
                           >50k        33
nicaragua                  <=50k       32
                           >50k         2
outlying-us(guam-usvi-etc) <=50k       14
peru                       <=50k       29
                           >50k         2
philippines                <=50k      137
                           >50k        61

## Conclusão:

Por fim podemos concluir que há uma alta taxa de divorciados nos EUA, que pessoas brancas são as que mais se divorciam e em relação ao sexo, as mulheres se divorciam mais que os homens em torno de 60% e os homens 40%. A média de idade dos divorciados está na casa dos 43 anos e que a maior parte das pessoas que são divorciadas tem apenas o segundo grau completo. 
Em relação às pessoas que nunca casaram, pessoas brancas estão no topo da lista com pessoas negras em segundo lugar. Mulheres negras não se casam mais que os homens, e as mulheres no geral tem a maior quantidade de viúvas. A quantidade de pessoas viúvas pela base está maior nos EUA e a maioria dessas pessoas têm no máximo o segundo grau completo.
Em relação aos grupos étnicos pessoas negras tem mais diplomas de ensino superior do que pessoas asiáticas.
Em relação a média idade da base pessoas negras, asiáticas tem em média 37 anos enquanto pessoas brancas 38 anos.
Ao todo homens tem mais diplomas do ensino superior e segundo grau do que mulheres e em relação aos ganhos mulheres e homens em maior quantidade ganham mais ou igual a 50k.